<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<title>Produits</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

</head>
<body>
	<p></p>
	<div class="spacer col-md-6 col-xs-12" layout:fragment="content">

		<div class="panel panel-default">
			<div class="panel-heading">Confirmation</div>
			<p></p>
			<div class="panel-body">
				<h3 class="red">Vous n'êtes pas autoriser à acceder à cette resource</h3>
			</div>
		</div>

	</div>

</body>
</html>